body
{
margin:0px;
text-align: center;
font-family: 'Sacramento', cursive;
}

h1
{
margin:0px;
font-size :5.62rem;
font-weight: lighter;
color: #3486c3;
}

.pro{
font-size:2.125rem;
margin-top:0;
position:relative;
bottom:2.125rem;
}

h2{
    color:  #3486c3;
    font-weight: normal;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

h3{
    color:#8495f5;
    font-family: 'Roboto', sans-serif;
}

a{
    color:#daf1f1;
    font-family: 'Roboto', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:rgb(0, 225, 255);
}
.top_container
{
background-color: #abdae1;
position: relative;
padding-top:6.25rem;
text-decoration:none;
width: 100%;


}

.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.img2{
    width: 25%;
    float:right;
    margin-left: 30px;

}

.img1{
    width: 25%;
    float:left;
    margin-right: 30px;
}

.mnt_pic
{
height:500px ;
width: 800px; ;
}
.cloud1{
    height:7.688rem;
    position: absolute;
    top: 250px;
    right:15.652rem;
}
.cloud2{
    height:123px;
    position:absolute;
    left: 160px;
}
p{
    font-family: 'PT Sans', sans-serif;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #ffffff;
    color:#abdae1;
    text-decoration:none;
    border: 2px solid #11cdd4;
  }
  .middle_container{
    padding: 100px 0;
  }
  .bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;

  }

  hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
  }

  .contact-message{
    width:40%;
    margin: 40px auto 60px auto;
  }
  .copyr{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding:20px 0px;
  }
  @media only screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .top_container {
      text-align: center;
    }
    .pro {
      font-size: 24px;
    }
    .mnt_pic {
          height: 200px;
          width: 250px;
    }
    .cloud1{
      display: none;
    }
    .cloud2{
      display: none;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Styles for screens smaller than 480px */
    .img1, .img2 {
      height: 20%;
      width: 20%;
    }
    .skill-row {
      flex-direction: column;
      align-items: center;
    }
  }
  
